{% extends 'base.html' %}

{% block content %}

<!-- user info -->
<div>
    <div id="user-img" class="user-details">
        <img class="user-img" src="{{ user.image_url }}" alt="IMAGE NOT FOUND">
    </div>
    <div>
        <p>Hello {{ user.username }}</p>
    </div>
</div>

<!-- list of your portolios -->

<div id="portfolio-list">
    Your Portfolios:
    <ul>
        {% for portfolio in user.portfolios %}
        <li><a href="/portfolio/{{portfolio.user_id}}/{{portfolio.id}}">{{ portfolio.name }}</a>
            <form action="/portfolio/{{portfolio.id}}/delete" method="POST">
                <button class="del-btn" type="submit"></button>
            </form>
        </li> <!--add in href-->
        {% endfor %}
    </ul>
</div>


<!-- create new portfolio page -->

<div>
    <form action="/portfolio/create"> <!--send2new portfolio page-->
        <button class="btn-portfolio" type="submit">CREATE A NEW PORTFOLIO</button>
    </form>
</div>


<!-- view other people's portfolios -->

    <!-- loop thru PortfolioUser.query.get all
         and say: portfolio name: created by username -->



{% endblock %}